div{
    background-image: linear-gradient(to bottom,
    rgba(241, 240, 223, 0.75),
    rgba(159, 218, 64, 0.6)
    ),
    url(bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    color: black;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Questrial', sans-serif;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 65px;
    text-transform: uppercase;
}
img {
    filter: brightness(120%) drop-shadow(10px 10px 15px black);
  }

  /* Filters for image came from https://www.w3schools.com/CSSref/css3_pr_filter.asp */