body{
    background-image: linear-gradient(to bottom,
    rgba(255, 251, 202, 0.6),
    rgba(159, 218, 64, 0.6)
    ),
    url(bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
div {height: 100vh;
    color: black;
    font-size: 36px;
}
h1{
    color: rgb(0, 0, 0);
    font-size: 72px;
    text-transform: uppercase;
}
